* {
    margin: 0;
    padding: 0;
}

#titulo {
    margin-top: 120px;
    text-align: center;
    font-size: 160%;
    color: orange;
    padding: 0 10px;
}

#container{
    margin: 40px auto;
    background-color: white;
    /* height: 300px; */
    width: 90vw;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quiz {
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 100%;
}

#ques {
    /*width: 500px; */
    /* height: 125px; */
    /* position: absolute; */
    /* right: 0; */
    /* top: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 3rem);
    background: #5bb75b;
    border-radius: 20px;
    margin-top: -5px;
    color: white;
    padding: 1.5rem;
}

#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width: calc(100% - 4rem);
    height: 100%;
    border: 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    /* position: absolute; */
    /* left: 300px; */
    /* top: 50px; */
    color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 20px;
}
#start:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}

#qImg{
    width: max-content;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
#qImg img{
    /* width: 200px; */
    /* height: 200px; */
    /* position: absolute; */
    /* left: 0px; */
    /* top: 0px; */
    display: flex;
    width: 100%;
    height: 100%;
}

#question{
    /* width: 500px; */
    /* height: 125px; */
    /* position: absolute; */
    /* right: 0; */
    /* top: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width: 80%;
    /* position: absolute; */
    /* right: 0; */
    /* top: 125px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.choice{
    display: flex;
    width: 100%;
    text-align: center;
    border: 2px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    gap: 1.5rem;
    align-items: center;
}
.choice:hover{
    border: 2px solid #2c2c2c;
    font-weight: bold;
}

#letra {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid orange;
    border-radius: 5px;
    background: orange;
    color: white;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width: 100%;
    /* position: absolute; */
    /* bottom: 0px; */
    /* right: 0px; */
    padding: 5px;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.prog{
    width: 30px;
    height: 15px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
#scoreContainer{
        /* margin: 20px auto; */
        background-color: rgba(206, 206, 206, 0.719);
        height: 100%;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 5px 15px 0px;
        position: relative;
        display: none;
        position: absolute;
        border-radius: 20px;
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
#scoreContainer img{
        /* position: absolute; */
    /* top: 100px; */
    /* left: 325px; */
}
#scoreContainer p{
    /* position: absolute; */
    display: block;
    /* top: 130px; */
    /* left: 325px; */
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#info-cont {
    display: flex;
    width: 60%;
    height: 80%;
    padding: 1rem 1rem;
    border: 3px solid #3de53d;
    border-radius: 20px;
    background: #efa114;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */
    justify-content: space-around;
}

#info {
    display: flex;
    width: 60%;
    max-height: 350px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */
    justify-content: space-around;
}

#porcent {
    border: 2px solid white;
    padding: 1rem;
    border-radius: 20px;
    color: white;
}

#pontos {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 20px;
    color: white;
    font-size: 100%;
}

#abotao {
    width: 60%;
    display: flex;
}

#botao {
    width: 100%;
    /* height: 30px; */
    border-radius: 10px;
    border: 1px solid white;
    background: #55b755;
    color: white;
    font-size: 18px;
    padding: .5rem;
    display: flex;
    justify-content: center;
    text-align: center;
}